* {
    margin: 0%;
}

h1 {
    background-color: black;
    color: white;
    max-width: 90%;
    text-align: center;
    margin: 5vh auto;
}

h2, p, span {
    background-color: black;
    color: white;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
}

.rotina, .hobbies, .inspiracao, .viagens {
    margin: 10vh 10vh;
    float: left;
}

.botao {
    margin: 10vh 10vh;
    float: left;
}