.informacoes, .rotina, .hobbies, .inspiracao, .viagens{
    background-color: black;
    float: left;
    padding: 1px 1px;
    margin: 1%;
}
h1, h2, p, span {
    color: white;
}
button {
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid #73AD21;
}